@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  width: 90%;
  overflow-x: hidden;
}

.upper-area {
  text-align: center;
}

.admin-page-title {
  color: #11bac5;
}

.welcome {
  position: relative;
  left: 325px;
  bottom: 8px;
}

.logout {
  position: relative;
  top: 26px;
  left: 515px;
  cursor: pointer;
  z-index: 10;
}

a, a:hover {
  cursor: pointer;
}

a {
  color: #11bac5;
}

a:hover {
  color: #12cfda
}

.all-flights {
  text-align: left;
  margin-top: 60px;
}

.flights-table {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  font-size: 13px;
}

th, td {
  text-align: center;
  padding: 8px;
}

input[type="checkbox"] {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #11bac5;
  color: white;
}

.update-button {
  background: #09c598;
  color: white;
  border: none;
  height: 24px;
  font-weight: 600;
  outline: none;
}

.message {
  color: #09c598;
}

.delete-button {
  background: #f76969;
  color: white;
  border: none;
  height: 24px;
  font-weight: 600;
  outline: none;
}

.client, .number, .type, .dep-date, .dep-time, .arr-date, .arr-time {
  border: none;
  background: transparent;
  width: 100%;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

​
.insert-flight {
  margin-top: 80px;
  margin-bottom: 30px;
}

.add-flight-form input {
  padding: 5px 10px;
  margin: 10px 6px;
  width: 200px;
}