@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  width: 70%;
  text-align: center;
  overflow-x: hidden;
}

.user-page-title {
  color: #11bac5;
}

.welcome {
  position: relative;
  left: 325px;
  bottom: 8px;
}

.logout {
  position: relative;
  top: 26px;
  left: 515px;
  cursor: pointer;
  z-index: 10;
}

a, a:hover {
  cursor: pointer;
}

a {
  color: #11bac5;
}

a:hover {
  color: #12cfda
}

.flights-info {
  margin-top: 65px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #11bac5;
  color: white;
}
