@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: auto;
  width: 100%;
  text-align: center;
}

.title {
  color: #11bac5;
  margin-top: 134px;
  margin-bottom: 60px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

label {
  display: inline-block;
  width: 86px;
}

.username, .password {
  border: solid 1px lightgray;
  outline: none;
  padding: 10px;
  width: 230px;
  margin-top: 2px;
  font-size: 14px;
}

input[type="text"] {
  font-size: 14px;
}

.login-button, .login-button:hover {
  color: white;
  width: 115px;
  height: 45px;
  outline: none;
  border: none;
  margin-top: 18px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.login-button {
  background: #11bac5;
}

.login-button:hover {
  background: #12cfda;
}

.error {
  color: #f54949;
  font-weight: 600;
  margin-top: 57px;
}
